body {
  margin: 0;
  padding: 0;
  background-color: #f4f6f8;
  color: #333;
}


h1 {
  text-align: center;
  color: palevioletred;
  margin-bottom: 20px;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  width: 20px;
  border: 4px solid pink;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.2s ease;
}

input[type="text"]:focus {
  border-color: black;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  transition: color 0.3s ease;
}
 

button:hover {
  background-color:palevioletred;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f3f4f6;
  margin-bottom: 10px;
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: pink;
}


li button:hover {
  color: #111;
}


.app-wrapper {
  max-width: 900px;
  margin: 100px auto;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
}

.app-heading {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}
